<p>train works!</p>
<!-- train-list.component.html -->

<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Train ID</th>
      <th>Train Name</th>
      <th>Train Number</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let train of trainList">
      <td>{{ train.trainId }}</td>
      <td>{{ train.trainName }}</td>
      <td>{{ train.trainNumber }}</td>
      <button (click)="DeleteTrain(train.trainId)">Delete</button>
      <button (click)="updateTrain(train)" [routerLink]="'/updateTrain'">
        Update
      </button>
    </tr>
  </tbody>
</table>
<div>
  <button (click)="getAllTrains()">Get All Trains</button>
</div>

<form (ngSubmit)="addTrains()">
  <label for="trainId">Train ID:</label>
  <input
    type="number"
    id="trainId"
    [(ngModel)]="trainData.trainId"
    name="trainId"
    required
  />

  <label for="trainName">Train Name:</label>
  <input
    type="text"
    id="trainName"
    [(ngModel)]="trainData.trainName"
    name="trainName"
    required
  />

  <label for="trainNumber">Train Number:</label>
  <input
    type="number"
    id="trainNumber"
    [(ngModel)]="trainData.trainNumber"
    name="trainNumber"
    required
  />

  <button type="submit">Submit</button>
</form>
